[Desktop Entry]
Exec=~/.local/bin/ciderctl volume-up
Name=Cider Vol up
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
