[Desktop Entry]
Exec=~/.local/bin/ciderctl previous
Name=Cider Previous
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
