[Desktop Entry]
Exec=@HOME@/.local/bin/focused-volume-down
Name=focused-volume-down
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
