[Desktop Entry]
Exec=@HOME@/.local/bin/focused-volume-up
Name=focused-volume-up
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
