[Desktop Entry]
Exec=@HOME@/.local/bin/gamebar-audio-overlay.sh
Name=gamebar-audio-overlay
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
