[Desktop Entry]
Exec=~/.local/bin/ciderctl play-pause
Name=Cider Play-Pause
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
